@model TPDojo.Models.SamuraiVM

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Nom" class="control-label"></label>
    <input asp-for="Nom" class="form-control" />
    <span asp-validation-for="Nom" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Force" class="control-label"></label>
    <input asp-for="Force" class="form-control" />
    <span asp-validation-for="Force" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ArmeId" class="control-label"></label>
    <select asp-for="ArmeId" class="form-control" asp-items="Model.ArmesSelect"><option>{aucune arme}</option></select>
    
</div>