@model TPDojo.Models.SamuraiVM

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Samurai.Nom" class="control-label"></label>
    <input asp-for="Samurai.Nom" class="form-control" />
    <span asp-validation-for="Samurai.Nom" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Samurai.Force" class="control-label"></label>
    <input asp-for="Samurai.Force" class="form-control" />
    <span asp-validation-for="Samurai.Force" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="control-label" asp-for="Samurai.ArmeId"></label>
    <select asp-for="Samurai.ArmeId" class="form-control" asp-items="Model.ArmesSelect">
        <option value="">{aucune arme}</option>
    </select>
    <span asp-validation-for="Samurai.ArmeId" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="control-label" asp-for="Samurai.ArtMartiaux">Art martiaux</label>
    <select asp-for="IdsArtsMartiaux" asp-items="Model.ArtsMartiauxSelect" class="form-select">
    </select>
    <span asp-validation-for="IdsArtsMartiaux" class="text-danger"></span>
</div>