@model TPDojo.Models.SamuraiVM

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Nom" class="control-label"></label>
    <input asp-for="Nom" class="form-control" />
    <span asp-validation-for="Nom" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Force" class="control-label"></label>
    <input asp-for="Force" class="form-control" />
    <span asp-validation-for="Force" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="control-label">Arme</label>
    <select asp-for="ArmeId" class="form-control" asp-items="Model.ArmesSelect">
        <option value="">{aucune arme}</option>
    </select>
@*    <select asp-for="ArmeId" class="form-control" asp-items="ViewBag.ArmeId">
        <option value=""> -- aucune arme -- </option>
    </select>*@
</div>

<div class="form-group">
    <label class="control-label">Art martiaux</label>
    <select asp-for="ArtMartiauxId" asp-items="Model.ArtMartiauxSelect" class="form-select">
    
      </select>
    
@*    <select asp-for="ArtMartiauxId" class="form-control" asp-items="ViewBag.ArtMartiauxId">
        <option value=""> -- aucun art -- </option>
    </select>*@
</div>