@model TPDojo.Models.SamuraiVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Samurai</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Samurai.Id" />
            <partial name="_form_samurai" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}